*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#tabbar{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.tabs{
    padding: 5px 10px;
    background-color: #e4e4e4;
    border: 1px solid #dadada;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    cursor: pointer;
}

.tabcontent{
    padding: 10px;
    display: none;
}