*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'comfortaa';
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
}

#container{
    padding: 7vw 20vw;
}

input{
    width: 100%;
    font-size: 25px;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 2px solid #dadada;
    outline-color: royalblue;
}

#people{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.person{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img{
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5px;
}

.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

